.brand {
  width: calc(100% - #{$width-gutter});
  max-width: 680px;
  // height:508px;
  // background: url(../img/tie.png) no-repeat 50% 0;
  background-size: cover;
  // position: absolute;
  // top: 60px;
  padding-top: 60px;
  margin: auto;
}

.brand-name {
  // top: 280px;
  // left: 0;
    max-width: 480px;
    position: relative;
    width: 100%;
  // margin: auto;

  img {
    width: 100%;
    height: auto;
    // display: none;
  }

  // @include tb {
  //   width: $width-side-s - 80px;
  //   top: 20px;
  //   right: 40px;
  // }

  // @include sp {
  //   top: $height-brand-top * 2 + 30px;
  //   right: 0;
  //   width: 100px;
  //   position: relative;
  //   margin: auto;
  // }
}