
/* ----------------------------------------------------------

  ￼.l-content

---------------------------------------------------------- */

.l-content {
  width: 60%;
  height: 100%;
  position: relative;
  z-index: 100;
  margin: 0;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.2;
  }

  @include sp {
    width: 100%;
  }
}

.l-content-inner {
  // width: calc(100% - #{$width-gutter});
  max-width: $width-main-s;
  margin: 70px auto;
  @include sp {
    margin: 0 auto;
    padding: 30px;
    box-sizing: border-box;
  }
}

/* ----------------------------------------------------------

  ￼.l-columns

---------------------------------------------------------- */

.l-columns {
  display: flex;

  @include sp {
    display: block;
  }

  > * {
    width: 50%;
  }
}

/* ----------------------------------------------------------

  ￼.l-header

---------------------------------------------------------- */

.l-header {
  // position: fixed;
  // border-top: 2px solid $color-black;
  top: 0;
  right: 0;
  width: 40%;
  height: 100vh;
  z-index: 10;
  // background: #004860;
  position: fixed;
  border-left: 1px dotted $color-black;

  @include sp {
    position: relative;
    width: 100%;
    border-left: 0;
    border-bottom: 1px dotted $color-black;
  }
}

/* ----------------------------------------------------------

  ￼.l-footer

---------------------------------------------------------- */

.l-footer {
  margin-top: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-top: 1px solid $color-gray;
  position: relative;
  z-index: 100;
  width: 100%;
}

.l-footer-inner {
  max-width: $width-main-s;
  margin: auto;
  padding: 0;

  @include sp {
    padding: 0 30px;
  }
}