
/* ----------------------------------------------------------

  ￼.l-content

---------------------------------------------------------- */

.l-content {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 100;
  margin: auto;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.2;
  }
}

.l-content-inner {
  width: calc(100% - #{$width-gutter});
  max-width: $width-main-s;
  margin: 250px auto;
}

/* ----------------------------------------------------------

  ￼.l-columns

---------------------------------------------------------- */

.l-columns {
  display: flex;

  @include sp {
    display: block;
  }

  > * {
    width: 50%;
  }
}

/* ----------------------------------------------------------

  ￼.l-header

---------------------------------------------------------- */

.l-header {
  position: fixed;
  border-top: 2px solid $color-black;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

/* ----------------------------------------------------------

  ￼.l-footer

---------------------------------------------------------- */

.l-footer {
  margin-top: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-top: 1px solid $color-gray;
  position: relative;
  z-index: 100;
}

.l-footer-inner {
  max-width: $width-main-s;
  margin: auto;
  padding: 0;

  @include sp {
    padding: 0 30px;
  }
}