@charset 'utf-8';

@import 'variables';
@import 'normalize';
@import 'mixins';

html,
body {
  color: $color-yellow;
  font-size: 16px;
  font-family: $font-normal;
  line-height: 1.8;
}

body:before {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100vh;
  background: url('~/assets/images/bg.gif') 50% 50% no-repeat;
  background-size: cover;
}

a,
a:visited {
  color: $color-red;
}

a:hover {
  color: $color-yellow;
  text-decoration: none;
}

.l-article {
  margin-bottom: 30px;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    padding: 0 0 20px;
  }

  p {
    margin: 0;
    padding: 0 0 20px;
  }

  hr {
    border: none;
    width: 5vw;
    margin: 0 0 20px 0;
    background-color: $color-yellow;
    height: 1px;
    text-align: left;
  }

  ul,
  ol,
  dl {
    margin: 0;
    padding: 0 0 20px 30px;
  }

  li {
    margin-bottom: 5px;

    &::marker {
      font-size: .66em;
    }

    >p {
      padding: 0;
    }
  }

  blockquote {
    padding: 20px 20px 0;
    font-size: .84rem;
    border: 1px solid $color-yellow;
    margin: 0 0 20px;

    >p {
      margin: 0;
      padding-bottom: 20px;
    }
  }

  img {
    max-width: 30%;
  }

}

.l-columns {
  display: flex;

  @include sp {
    flex-direction: column;

    &.reverse {
      flex-direction: column-reverse;
    }
  }
}

.icon {
  height: 1em;
  display: inline;
  vertical-align: -.125em;
}