/* ----------------------------------------------------------

  ￼variables > width

---------------------------------------------------------- */

$width-main: 480px;
// $width-main-s: 680px;
$width-main-l: 980px;
$width-gutter: 40px;

/* ----------------------------------------------------------

  ￼variables > height

---------------------------------------------------------- */

$height-brand-top: 100px;

$font-normal: 'Noto Sans JP', sans-serif;
$font-rich: 'Ultra', serif;

/* ----------------------------------------------------------

  ￼variables > color

---------------------------------------------------------- */

$color-black: #111111;
$color-white: #EAEAEA;

$color-gray: #DDD;

// http://paletton.com/#uid=70c0k0kw0w0d2FCmnwmBxoeM9hR

$color-red: #e40101;
$color-orange: #FF7800;
$color-blue: #028E9B;
$color-green: #00B358;
$color-yellow: #d6c031;