@import 'https://fonts.googleapis.com/css?family=Buenard';

* {
  // -webkit-appearance: none;
  outline: none;
  box-sizing: border-box;
  font-size: 20px;
}

body {
  font-family: 'Buenard', "游明朝", "Yu Mincho", "游明朝体", "YuMincho", "Georgia", serif;
  line-height: 1.8;
  color: $color-black;
  background-color: #EAEAEA;
}

a {
  color: $color-red;
  &:hover { color: $color-blue; }
  &:visited { color: $color-orange; }
}

p,
li,
dt,
dd {
  font-size: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin:0;
  > small {
    font-size: .9rem;
    display: block;
    font-weight: 400;
  }
}

h1 { font-size: 3.2rem; }
h2 { font-size: 2.8rem; }
h3 { font-size: 2.2rem; }
h4 { font-size: 1.8rem; }
h5 { font-size: 1.2rem; }
h6 { font-size: 1.1rem; }

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

dd {
  margin: 0;
}

/* ----------------------------------------------------------

  ￼i18n

---------------------------------------------------------- */

.ja {
  display: none;
  font-size: .8rem;
  .is-ja & {
    display: inherit;
  }
}