/* ----------------------------------------------------------

  ￼helper

---------------------------------------------------------- */

.notxt {
  font-size: 0;
  line-height: 0;
}

.is-circle {
  border-radius: 50%;
}