/* ----------------------------------------------------------

  mixins

---------------------------------------------------------- */

// breakpoint for smartphones
@mixin sp {
  @media screen and ( max-width: $width-main-s + ($width-gutter * 2) ) {
    @content;
  }
}

// breakpoint for tablets
@mixin tb {
  @media screen and ( max-width: $width-main + ($width-gutter * 2) ) {
    @content;
  }
}

// x-large breakpoint
@mixin xl {
  @media screen and ( min-width: $width-main + ($width-gutter * 2) ) {
    @content;
  }
}

// wysiwyg
@mixin wysiwyg {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0 0 30px;
  }

  p {
    margin: 0 0 30px;
    overflow: hidden;
  }

  ul {
    margin: 0 0 30px;
    list-style: none;
  }

  img {
    max-width: 100%;
    width: 100%;
    height: auto;
  }

  .img {
    &.img-right { width: 40%; float: right; margin-left: 30px; }
    &.img-left { width: 40%; float: left; margin-right: 30px; }

    &.img-right,
    &.img-left {
      @include sp {
        width: 100%;
        float: none;
        margin-left: 0;
        margin-right: 0;
      }
    }
  }
}