/* ----------------------------------------------------------

  mixins

---------------------------------------------------------- */

// breakpoint for smartphones
@mixin sp {
  @media screen and ( max-width: $width-main-s + ($width-gutter * 2) ) {
    @content;
  }
}

// breakpoint for tablets
@mixin tb {
  @media screen and ( max-width: $width-main + ($width-gutter * 2) ) {
    @content;
  }
}

// x-large breakpoint
@mixin xl {
  @media screen and ( min-width: $width-main + ($width-gutter * 2) ) {
    @content;
  }
}

// wysiwyg
@mixin wysiwyg {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0 0 30px;
  }

  p {
    margin: 0 0 30px;
  }

  ol,
  ul,
  dl {
    margin: 0 0 30px;
  }

  dt {
    opacity: .8;
    font-size: .75rem;
    color: $color-white;
    background: $color-black;
    padding:4px;
  }

  dd {
    margin-bottom: 10px;
  }
}