/* ----------------------------------------------------------

  ￼variables > width

---------------------------------------------------------- */

$width-main: 680px;
$width-main-s: 680px;
$width-gutter: 40px;

/* ----------------------------------------------------------

  ￼variables > height

---------------------------------------------------------- */

$height-brand-top: 100px;

/* ----------------------------------------------------------

  ￼variables > color

---------------------------------------------------------- */

$color-black: #1D4A64;
$color-white: #EAEAEA;

$color-gray: #DDD;

// http://paletton.com/#uid=70c0k0kw0w0d2FCmnwmBxoeM9hR

$color-red: #FF3D00;
$color-orange: #FF7800;
$color-blue: #028E9B;
$color-green: #00B358;
$color-yellow: #C6C500;